*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    font-family: "Manrope", sans-serif;
}

section:empty,
article:empty,
aside:empty,
nav:empty,
header:empty,
footer:empty,
main:empty,
div:empty,
span:empty,
a:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
ul:empty,
ol:empty,
li:empty,
table:empty,
thead:empty,
tbody:empty,
tfoot:empty,
tr:empty,
td:empty,
th:empty,
form:empty,
label:empty,
button:empty {
  display: none;
}

a{
    text-decoration: none;
    color: #000000;
}


/* Global Styles */


/* Flex Styles */

.heroSec-outer, .heroSec-inner, .heroSec-heading,
.globeCTA-outer, .globeCTA-inner, .globeCTA-heading
.globeFaq-outer, .globeFaq-inner,
.section-outer, .section-inner,
.migrationWhy-outer, .migrationWhy-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-inner, 
.heroSec-inner,
.migrationWhy-inner,
.globeFaq-inner{
    width: 80%;
    flex-direction: column;
}

.section-sec-inner{
    margin-top: 130px;
}

p{
    font-size: 18px;
    line-height: 28px;
}


/* Nav Style */


header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogo-text{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000000;
}

.navLink-ul{
    display: flex;
    align-items: center;
    gap: 15px;
}

.navLink-li{
    list-style: none;
}

.navLink-link{
    display: block;
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 700;
    padding: 24px 15px;
    border-bottom: 2px solid #ffffff;
    /* border: 1px solid; */
}

.navLink-link:hover{
    border-bottom: 2px solid #009CDE;
}

.navLink-link.active{
    border-bottom: 2px solid #009CDE;
}

.navLink-button{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 12px 30px;
    color: white;
    background: linear-gradient(136deg, #000 15.12%, #434343 85.76%);
    border-radius: 6px;
}






/* Footer Styles */

.footer-main{
} 


.footerNav-outer{
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0px;
    border-top: 1px solid #ddd;
}

.footerNav-socialIcons{
    display: flex;
    gap: 20px;
}

.footer-social-links{
    display: block;
}



/* Buttons Style */

.btn-black{
    margin-top: 60px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 16px 3.2vw;
    color: white;
    background: linear-gradient(136deg, #000 15.12%, #434343 85.76%);
    border-radius: 6px;
}

.btn-blue{
    margin-top: 60px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 16px 3.2vw;
    color: white;
    background-color: #009CDE;
    border-radius: 6px;
}


/* Span Style */

.headingCon-span{
    font-size: 18px;
    line-height: 28px;
    font-weight: 900;
    color: #5A5A5A;
}




/* Hero Section  */

.homeHero-outer{
    width: 100%;
}

.heroSec-inner{
    height: 80vh;
}

.heroSec-heading{
    flex-direction: column;
    text-align: center;
}

.heroSec-h1{
    margin-top: 16px;
    font-size: 100px;
    line-height: 120px;
    font-weight: 900;
}

.heroSec-para{
    margin-top: 30px;
    width: 520px;
    font-size: 24px;
    line-height: 36px;
}




/* Heading Container */

.headingCon-outer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headingCon-sh{
    width: 60%;
}

.headingCon-pb{
    width: 450px;
}

.headingCon-h2{
    font-size: 64px;
    line-height: 80px;
    font-weight: 800;
}

.headingCon-para{
    font-size: 22px;
    line-height: 36px;
}



/* CTA Section  */

.globeCTA-inner{
    width: 70%;
}

.globeCTA-heading{
    text-align: center;
}

.globeCTA-h1{
    margin-top: 16px;
    font-size: 45px;
    line-height: 60px;
    font-weight: 800;
}

.globeCTA-heading-para{
    width: 60%;
    margin-top: 16px;
    font-size: 18px;
    line-height: 28px;
}

.globeCTA-outer{
    padding: 100px 0px;
}

.globeCTA-heading{
    flex-direction: column;
}

.globeCTA-button{
    font-size: 16px;
    font-weight: 500;
    padding: 16px 36px;
}




/* FAQ Section */

.globeFaq-outer{
    padding: 200px 0px;
}

.globeFAQList-inner,
.globeDropDownList-inner{
    width: 100%;
    margin-top: 130px;
}

.faq-item{
    overflow: hidden;
    transition: all 0.3s ease;
    border-bottom: 1px solid;
}

/* .faq-item.active {
    border-color: #4facfe;
} */

.faq-question,
.dropDown-question {
    padding: 35px 40px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.faq-question h3,
.dropDown-question h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
}

.faq-icon,
.dropDownItem-icon {
    font-size: 25px;
    color: #000000;
    transition: transform 0.3s ease;
    flex-shrink: 0;
    margin-left: 15px;
}

.faq-item.active .faq-icon,
.dropDown-item.active .dropDownItem-icon {
    transform: rotate(45deg);
}

.faq-answer,
.dropDownItem-answer {
    max-height: 0;
    overflow: hidden;
}

.faq-item.active .faq-answer,
.dropDown-item.active .dropDownItem-answer {
    max-height: 300px;
    padding: 0px 40px 40px;
}

.faq-answer p{
    font-size: 22px;
    line-height: 32px;
}


/* Dropdown Section */

.dropDown-item {
    overflow: hidden;
    transition: all 0.3s ease;
    border-bottom: 1px solid;
}

.dropDown-item:first-child{
    border-top: 1px solid;
}


.dropDown-question h3{
    font-weight: 600;
}

.dropDownItem-answer p {
    width: 60%;
    font-size: 20px;
    line-height: 36px;
}


/* Awards */

.awardsSection-outer{
    margin: 200px 0px;
}

.awardsSection-card-outer{
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem; 
    width: 100%;
}

.awardsSection-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    /* background-color: #f5f5f5; */
    border: 1px solid #ccc;
    border-radius: 6px;
}




/* Testimoinal */

.testimonialSlider-outer{
    padding: 200px 0px;
    flex-direction: column;
    overflow: hidden;
}

.testimonialSlider-sec{
    margin-top: 130px;
}

.swiper {
    width: 80%;
    height: 100%;
    overflow: visible !important;
}

.swiper-wrapper{
    width: 100%;
}

.testimonialSlider-para-sec{
    display: flex;
    justify-content: flex-end;
}

.testimonialSlider-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-next,
.button-prev{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #009CDE;
    border-radius: 6px;
}

.swiper-button-disabled {
    opacity: 0.7;
    cursor: not-allowed;
    pointer-events: none;
}

.button-prev:active,
.button-next:active {
  transform: scale(0.95);
}

.swiper-slide {
    width: 100%;   
}

.testimonialSlider-sec-card{
    width: 100%;
    height: 480px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.testimonialSlider-card-para{
    font-size: 24px;
    line-height: 40px;
}

.testimonialSlider-card-h5Wrap{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.testimonialSlider-userImgC{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 30px;
}

.testimonialSlider-userImg{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

.testimonialSlider-card-h5{
    font-size: 18px;
    font-weight: 700;
}

.testimonialSlider-card-h6{
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}



/* Table Section */

.tableSec-outer{
    padding: 200px 0px;
}

.table-container {
    margin-top: 130px;
    width: 100%;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table thead {
    border-bottom: 1px solid #ddd;
}

.custom-table th {
  padding: 24px 30px;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.custom-table td {
  font-size: 16px;
  padding: 24px 30px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.status {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.9rem;
}

.status.active {
  background-color: #d1fae5;
  color: #065f46;
}

.status.inactive {
  background-color: #fee2e2;
  color: #991b1b;
}



/* Our Packages */

.maintPackage-outer{
    padding: 200px 0px;
}

.package-card-outer{
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.package-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 28px 28px;
}

.package-card-h4{
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
}

.package-card-para{
    margin-top: 16px;
    font-size: 16px;
    line-height: 28px;
}

.package-card-link{
    margin-top: 24px;
    font-size: 16px;
}

.package-card-details{
    margin-top: 20px;
}

.package-card-details-li{
    padding: 5px 0px;
    font-size: 16px;
    line-height: 24px;  
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}



/* Service Hero */

.serviceHero-outer{
    padding: 100px 0px;
    margin-bottom: 100px;
}

.serviceHero-inner{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.servHero-heading{
    width: 65%;   
}

.servHero-h1{
    font-size: 95px;
    line-height: 120px;
    font-weight: 900;
}

.servHero-para{
    margin-top: 30px;
    font-size: 24px;
    line-height: 36px;  
}


.heroSec-span,
.servHero-span,
.aboutSec-span{
    font-size: 18px;
    line-height: 28px;
    font-weight: 900;
    color: #5A5A5A;
}

.servHero-formInner{
    width: 460px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    gap: 20px;
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.servHero-formInput,
.servHero-formTextArea{
    font-size: 16px;
    line-height: 28px;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: "Manrope", sans-serif;
    outline: none;
}

.servHero-formInput:focus,
.servHero-formTextArea:focus {
  border: 1px solid #141516;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.servHero-formSpan{
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    color: #5A5A5A;
}

.servHero-formButton{
    font-family: "Manrope", sans-serif;
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding: 16px 3.2vw;
    color: white;
    cursor: pointer;
    background-color: #009CDE;
    border-radius: 6px;
    border: none;
}

/* Hero For Maintaines */

.maintainHero-outer{
    padding: 100px 0px;
}

.maintainHero-inner{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

/* .maintainHero-outer{
    background-color: #080808;
    color: #ffffff;
    padding: 100px 0px;
}

.maintainHero-inner{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.maintainHero-heading-span{
    color: #bbbbbb;
}

.maintainHero-contactForm-inner{
    background: #ffffff05;
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.1);   
}

.maintainHero-contactForm-input,
.maintainHero-contactForm-textArea{
    background-color: #ffffff05;
    border-color: rgba(255, 255, 255, 0.10);
} */


/* About Me section */

.aboutImageText-inner{
    margin-top: 130px;
    width: 100%;
}

.sticky-section {
    position: relative;
    display: flex;
    min-height: 400vh;
}

.image-block {
    position: sticky;
    top: 0;
    width: 50%;
    border-radius: 6px;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
}

.aboutImage-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.aboutImage-item.active {
    opacity: 1;
}

.aboutImage-item-image{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
}

/* Content block - scrolls normally */
.content-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-item {
    height: 100vh;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-item-h3{
    font-size: 36px;
    font-weight: 900;
    line-height: 45px;
    color: #000000;
}

.content-item-para {
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

/* Responsive design */
@media (max-width: 768px) {
    .sticky-section {
        flex-direction: column;
    }

    .image-block,
    .content-block {
        width: 100%;
    }

    .image-block {
        height: 50vh;
        position: relative;
    }

    .content-item {
        padding: 40px 30px;
        height: 50vh;
    }

    .content-item h2 {
        font-size: 2rem;
    }

    .content-item p {
        font-size: 1rem;
    }

    .aboutImage-item {
        font-size: 2rem;
    }
}

.aboutImage-item{
    display: flex !important;
}